html, body {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  font-family: HelveticaNeue-Light;

  .arrow {
    position: fixed;
    z-index: 4;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 36px;
    color:#fff; 
    @media only screen and (max-width: 420px) {
      display: none !important;
    }

  }

  .arrow_up {
    opacity: 0;
    right: 15px;
    top: 47%;
    transform: translateY(-50%);
    transition: all 0.5s; 
  }

  .arrow_down {
    right: 15px;
    top: 55%;
    transform: translateY(-50%); 
  }

  .counter {
    position: fixed;
    z-index: 4;
    font-size: 40px;
    color:#fff;
    right: 15px;
    top : 50%;
    font-size: 18px;
    @media only screen and (max-width: 420px) {
      display: none !important;
    }
  }

  .all {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s; 

    .slider, .container {
      width: 100%;
      height: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;

      .content {
        width : 433px;
        position: absolute;
        bottom: 45px;
        left: 70px;
        background-color:#FFF;
        color:#3d3d3d; 

        @media only screen and (max-width: 420px) {
          width : 100%;
          position: absolute;
          bottom: 0px;
          left: 0px;
          background-color:#FFF;
          color:#3d3d3d; 
        }

        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
          width:383px;
          position: absolute;
          bottom: 0px;
          left: 40px;
          background-color:#FFF;
          color:#3d3d3d; 
        }

        @media only screen and (min-device-width :420px) and (max-device-width : 768px) {
          width : 100%;
          position: absolute;
          bottom: 0px;
          left: 0px;
          background-color:#FFF;
          color:#3d3d3d; 
        }

        h1 {
          padding-left:40px;
          margin-bottom: 5px;
          width: 373px;
          font-size: 44px;

          @media only screen and (max-width: 420px) {
            padding-left:25px;
            width: 80%;
            font-size: 34px;
          }

          @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
            padding-left:35px;
            width: 80%;
            font-size: 44px;
          }

          @media only screen and (min-device-width :420px) and (max-device-width : 768px) {
            padding-left:30px;
            width: 80%;
            font-size: 40px;
          }
        }

        p {
          padding-left:40px;
          margin-top:5px;
          width: 353px;
          font-size:20px;

          @media only screen and (max-width: 420px) {
            padding-left:25px;
            width: 80%;
            font-size:15px;
          }

          @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
            padding-left:35px;
            margin-top:5px;
            width: 80%;
            font-size:20px;
          }

          @media only screen and (min-device-width :420px) and (max-device-width : 768px) {
            padding-left:30px;
            width: 80%;
            font-size:20px;
          }
        }

        .bar-color {
          background-color: #202020;
          width: 100%;
          height: 35px;

          .icon-color {
            border-radius: 50px;
            width: 50px;
            height: 50px;
            background-color: #202020;
            position: absolute;
            right: 10px;
            bottom: 7px;

            @media only screen and (max-width: 420px) {
              width: 45px;
              height: 45px;
            }

            i {
              border: white 2px solid;
              border-radius: 50px;
              font-size: 15px;
              line-height: 30px;
              color: white;
              width: 34px;
              height: 34px;
              text-align: center;
              position: absolute;
              bottom: 6px;
              right: 6px;

              @media only screen and (max-width: 420px) {
                font-size: 10px;
                line-height: 25px;
                width: 29px;
                height: 29px;
              }
            }
          }
        }
      }
    }

    .home {
      background-image: url('../assets/img/slide-image-1.jpg');
      z-index: 1; 
    }

    .slide_1 {
      background-image: url('../assets/img/slide-image-2.jpg');
    }

    .slide_2 {
      background-image: url('../assets/img/slide-image-3.jpg');
    }
  }
}